
:root {
    --color-theme-lighter: #3b3f4a;
    --color-theme: #282c35;
    --color-theme-darker: #21242d;
    --color-theme-darkest: #1a1d26;
    --color-alt-bottom-bar: #282c35;
    --color-alt-lighter: #4bddee;
    --color-alt: #1fd5ea;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #D7D7DB;
    --color-text: #BABBC0;
    --color-text-darker: #8c8e97;
    --color-text-darkest: #3b3f4a;
    --color-text-alt: #1fd5ea;
    --color-text-content: #FFFFFF;
}

/* Light theme modifiers */
.theme-light {
    --color-theme-lighter: #2E3E53;
    --color-theme: #FFFFFF;
    --color-theme-darker: #f0f4f9;
    --color-theme-darkest: #e4eaf1;
    --color-alt-bottom-bar: #FFFFFF;
    --color-alt-lighter: #4bddee;
    --color-alt: #3399FF;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #121921;
    --color-text: #2E3E53;
    --color-text-darker: #172940;
    --color-text-darkest: #121921;
    --color-text-alt: #3399FF;
    --color-text-content: #333333;
}

.theme-dark-purple {
    --color-theme-lighter: #424456;
    --color-theme: #2a2a3f;
    --color-theme-darker: #222234;
    --color-theme-darkest: #1b1b29;
    --color-alt-bottom-bar: #424456;
    --color-alt-lighter: #ab47bc;
    --color-alt: #ab47bc;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #e4e4e7;
    --color-text: #D1D1D6;
    --color-text-darker: #a1a1b1;
    --color-text-darkest: #505062;
    --color-text-alt: #ab47bc;
    --color-text-content: #FFFFFF;
}

.theme-ocean-blue {
    --color-theme-lighter: #334d5c;
    --color-theme: #1c3441;
    --color-theme-darker: #152c35;
    --color-theme-darkest: #0f2024;
    --color-alt-bottom-bar: #334d5c;
    --color-alt-lighter: #5cc3b4;
    --color-alt: #4abdac;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #dcefed;
    --color-text: #bfe1df;
    --color-text-darker: #90a4a8;
    --color-text-darkest: #334d5c;
    --color-text-alt: #4abdac;
    --color-text-content: #FFFFFF;
}

.theme-sunset-orange {
    --color-theme-lighter: #504437;
    --color-theme: #3a2c22;
    --color-theme-darker: #2e221b;
    --color-theme-darkest: #1d140e;
    --color-alt-bottom-bar: #504437;
    --color-alt-lighter: #f3bb59;
    --color-alt: #f2b447;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #FFFFFF;
    --color-text: #d9b99b;
    --color-text-darker: #ae8674;
    --color-text-darkest: #504437;
    --color-text-alt: #f2b447;
    --color-text-content: #FFFFFF;
}

.theme-forest-green {
    --color-theme-lighter: #364731;
    --color-theme: #23331d;
    --color-theme-darker: #1d2917;
    --color-theme-darkest: #141d0f;
    --color-alt-bottom-bar: #364731;
    --color-alt-lighter: #6fb56e;
    --color-alt: #60ad5e;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #FFFFFF;
    --color-text: #bfcba8;
    --color-text-darker: #8c9c76;
    --color-text-darkest: #364731;
    --color-text-alt: #60ad5e;
    --color-text-content: #FFFFFF;
}

.theme-royal-gold {
    --color-theme-lighter: #4b4238;
    --color-theme: #312a20;
    --color-theme-darker: #27211a;
    --color-theme-darkest: #1e1812;
    --color-alt-bottom-bar: #4b4238;
    --color-alt-lighter: #d8b74b;
    --color-alt: #d4af37;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #efeadc;
    --color-text: #dcd0b0;
    --color-text-darker: #b7a388;
    --color-text-darkest: #4b4238;
    --color-text-alt: #d4af37;
    --color-text-content: #FFFFFF;
}

.theme-midnight-purple {
    --color-theme-lighter: #42354f;
    --color-theme: #30263a;
    --color-theme-darker: #251d2e;
    --color-theme-darkest: #1a1523;
    --color-alt-bottom-bar: #42354f;
    --color-alt-lighter: #9b69ff;
    --color-alt: #9059ff;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #e6dfec;
    --color-text: #c1b1d1;
    --color-text-darker: #9684a1;
    --color-text-darkest: #42354f;
    --color-text-alt: #9059ff;
    --color-text-content: #FFFFFF
}

.theme-directus {
    --color-theme-lighter: #3b3f4a;
    --color-theme: #f3f3f3;
    --color-theme-darker: #21242d;
    --color-theme-darkest: #1a1d26;
    --color-alt-bottom-bar: #282c35;
    --color-alt-lighter: #47a3ff;
    --color-alt: #3399FF;
    --color-text-lightest: #e6f2ff;
    --color-text-lighter: #99ccff;
    --color-text: #3399FF;;
    --color-text-darker: #8c8e97;
    --color-text-darkest: #3b3f4a;
    --color-text-alt: #3399FF;
    --color-text-content: #1a1d26;
}

.theme-nintendo {
    --color-theme-lighter: #e6607e;
    --color-theme: #f3f3f3;
    --color-theme-darker: #cc1423;
    --color-theme-darkest: #87000B;
    --color-alt-bottom-bar: #005CAC;
    --color-alt-lighter: #ff9f19;
    --color-alt: #FF9500;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #FFFFFF;
    --color-text: #005CAC;
    --color-text-darker: #cfcfcf;
    --color-text-darkest: #afabab;
    --color-text-alt: #FF9500;
    --color-text-content: #1A1A1A;
}

.theme-random {
    --color-theme-lighter: #A3D8F4;
    --color-theme: #F4E285;
    --color-theme-darker: #F78DA7;
    --color-theme-darkest: #7C4DFF;
    --color-alt-bottom-bar: #34D399;
    --color-alt-lighter: #fb7f91;
    --color-alt: #FB7185;
    --color-text-lightest: #FFFFFF;
    --color-text-lighter: #FFFFFF;
    --color-text: #2D3748;
    --color-text-darker: #4A5568;
    --color-text-darkest: #1A202C;
    --color-text-alt: #ECC94B;
    --color-text-content: #1A202C;
}
