/* General settings for the link item container, ensuring border is always visible */
.link-item-container {
    transition: background-color 0.05s ease-in-out, border-color 0.05s ease, opacity 0.05s ease-in-out; /* Smooth transition for background, border, and opacity */
    color: var(--color-text-darker); /* Default text color for inactive links */
    padding: 8px; /* Increased padding for larger touch area */
}

/* Hover effects for link item container */
.link-item-container:hover {
    background-color: var(--color-theme-darker);
    color: var(--color-text);
    --button-opacity: 1; /* CSS variable to control button opacity on desktop */
}

/* Active link item styling */
.active-link-item {
    color: var(--color-text); /* Text color for active links */
    background-color: var(--color-theme);
    border-top: 2px solid var(--color-alt); /* Optional: add border to top of active item */
    --button-opacity: 1; /* Ensure button is always visible for active items */
}

/* Styling for the button within the link item */
.link-item-button {
    opacity: var(--button-opacity, 0); /* Button is invisible initially for inactive links, controlled by CSS variable */
    transition: opacity 0.05s ease-in-out; /* Smooth transition for opacity */
}

/* Ensure button is visible on hover or if the link item is active */
.link-item-button:hover{
    color: var(--color-text-lighter);
    background-color: var(--color-theme-darker);
    border-radius: 4px;
    opacity: 1;
}

/* Specific class to keep the button always visible if the item is active */
.link-item-button.active {
    opacity: 1; /* Ensure button is always visible for active items */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .link-item-button {
        opacity: 1; /* Always show the button on mobile devices */
    }

    .link-item-container {
        padding: 12px; /* Larger padding for easier interaction on mobile */
        font-size: 16px; /* Larger font size for better readability on mobile */
    }
}
