
:root {
    --color-theme-lighter: #3b3f4a;
    --color-theme: #282c35;
    --color-theme-darker: #21242d;
    --color-theme-darkest: #1a1d26;
    --color-alt: #1fd5ea;
    --color-text-lighter: #FFFFFF;
    --color-text: #BABBC0;
    --color-text-darker: #8c8e97;
    --color-text-darkest: #3b3f4a;
    --color-text-alt: #1fd5ea;
}

/* Light theme modifiers */
.theme-light {
    --color-theme: #FFFFFF;
    --color-theme-darker: #f0f4f9;
    --color-theme-darkest: #e4eaf1;
    --color-alt: #3399FF;
    --color-text-lighter: #333333;
    --color-text: #2E3E53;
    --color-text-darker: #172940;
    --color-text-darkest: #afb3b8;
    --color-text-alt: #3399FF;
}
